:root {
    --level-0: #222;
    --level-1: #272727;
    --level-5: #373737;
    --text: #eee;
    --text-highlightened: #bbb;
    --prim: #8c62db;
}

body {
    margin: 0;
    background-color: var(--level-0);
    color: var(--text);
    padding: 2rem;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: 36rem;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem 1rem 3rem;
    background-color: var(--level-1);
    border: 1px solid var(--level-5);
    border-radius: 3px;
    width: fit-content;
    font-family: monospace;
}

.a {
    color: var(--text-highlightened);
    text-decoration: none;
    transition: all ease-in-out 150ms;
}

.a:hover {
    color: var(--prim);
}

.ul {
    list-style-type: circle;
    padding-left: 2rem;
    margin-top: 0.25rem;
}


table {
    border-collapse: collapse;
    width: 100%;
}

table tr td:first-child {
    padding-right: 1rem;
}

table tr td {
    vertical-align: text-top;
}
